{% extends 'base.html.twig' %}

{% block title %}Liste des Matiéres{% endblock %}

{% block body %}
    <h1>Liste des matieres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Coef</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.nom }}</td>
                <td>{{ matiere.coef }}</td>
                <td>
                    <a type="button" class="btn btn-outline-primary" href="{{ path('matiere_show', {'id': matiere.id}) }}">detail</a>
                    <a type="button" class="btn btn-outline-primary" href="{{ path('matiere_edit', {'id': matiere.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-primary" href="{{ path('matiere_new') }}">Creer une nouvelle matiere</a>
{% endblock %}
